<h1>About</h1>


<%= link_to "home", '/pages/home' %>

<turbo-frame id="nargh">
  NEWWWWWWW
  <%= link_to "About", '/pages/about' %>
  <br>
  <%= link_to "New About", '/pages/about', target: "_top" %>
  <br>
  <%= link_to "home", '/pages/home' %>
  <br>
</turbo-frame>
